@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 243, 232;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer base {
  @font-face {
    font-family: 'day1';
    src: url('../assets/fonts/DaysOne-Regular.ttf');
  }
}